{% extends 'layouts/base.html'%}

{% block title %} Edit Post {% endblock %}

{% block body %}
  <h1 class="p-5 px-0">Edit the Post</h1>
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ post.name }}">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Post Description</label>
        <input type="text" class="form-control" id="body" name="body" value="{{ post.body }}">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" class="form-control" id="image" name="image" value="{{ post.image }}">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Categories</label>
        <select
          class="form-select"
          name="category_id"
          aria-label="Default select example"
        >
          <option selected disabled value="">Open this select menu</option>
  
          {% for category in categories %}
           <option value="{{category.id}}">{{category.name}}</option>
          {% endfor %}
        </select>
      </div>
  
      <button type="submit" class="btn btn-outline-dark">Save changes</button>
    </form>
  </div>
{% endblock %}
